<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="Email" placeholder="Email" id="email" required>

				<label for="Nom">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="Nom" placeholder="Nom" id="username" required>

				<label for="Prenom">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="Prenom" placeholder="Prénom" id="username" required>

				<label for="Age">
					Age
				</label>
				<input type="text" name="Age" placeholder="Age" id="username" required>



				<label for="Profession">
					Profession
				</label>
				<input type="text" name="Profession" placeholder="Profession" id="username" required>


				<label for="Centre_interet">
					Centre d'interet
				</label>
				<input type="text" name="Centre_interet" placeholder="Centre d'interet" id="username" required>

				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="Mot_de_passe" placeholder="Password" id="password" required>


				<label for="Sexe">
					Sexe
				</label>
				<select name="Sexe" placeholder="Sexe" id="username" required>
			    <option value="Femme">Femme</option>
			    <option value="Homme">Homme</option>
			  	</select>
				


				

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>